
@{
    ViewBag.Title = "Start";
}


<div class="jumbotron">
    <h1>SaveMyWord</h1>
    <p class="lead"></p>
    <p> <input type="button" value="Создать заметку" class="btn btn-info" onclick='window.location = "@Url.Action("Create","Note")"' /></p>
</div>

